<div id="firstModal" class="reveal-modal" data-reveal aria-labelledby="firstModalTitle" aria-hidden="true" role="dialog">
  <h2 id="firstModalTitle">Enter the name and amount of your purchase!</h2>
    <%= render "purchases/form" %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>