<% if @purchase.can_I_afford_this? %>
<h4>Yes you can afford it!</h4>
  <h5>By saving smart and not spending more than you earn, it will take you
    <% if @purchase.months_to_payoff >= 0 %>
    <b><%= @purchase.months_to_payoff %></b>
    <% end %>
  months to buy your <%= @purchase.title %>. Now start saving!</h5>
<% else %>
<h4>Sorry! No, you cannot afford it.</h4>
<h5>Our conscenous would not be clear if we put you down this path.  It will take you <% if @purchase.months_to_payoff >= 0 %>
  <b><%= @purchase.months_to_payoff %></b>
  <% end %>
  months to save up for this purchase, which seems a little long doesn't it?  Consider lowering your existing expenses before attempting to make this purchase. Don't worry, we'll show you how.</h5>
<% end %>

