<section id="homepage-hero">
  <div class="row">
    <div class="medium-7 large-6 columns">
      <h1>Saving money doesn't need to be hard.</h1>
      <h3>We're here to help.</h3>
    </div>
  </div>
</section>


<div class="panel">
  <div class="row">
    <div class="large-4 columns">
      <div id="homepage_div_1"></div>
      <h4>Spend wisely.</h4>
      <p>Knowing when to spend is important when managing your money. Keep track of your expenses and savings so you know when the right time is to make a big purchase. Looking to buy something special? We'll help you prepare!</p>
    </div>

    <div class="large-4 columns">
      <div id="homepage_div_2"></div>
      <h4>Save money.</h4>
      <p>Keep track of your savings so you are prepared for a rainy day or you're looking to treat yourself! Build a plan to save now so you won't worry later.</p>
    </div>

    <div class="large-4 columns">
      <div id="homepage_div_3"></div>
      <h4>Compare spending habits.</h4>
      <p>Determine if how much you are spending each month will set you up for successful saving. Compare your spending habits to those of others and learn how to maximize your savings!</p>
    </div>
  </div>
</div>


  <div class="panel">
    <div class="row">
      <h5>About Us</h5>
      <div class="large-6 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
          <p>I acquired a large amount of debt at a young age and I wish there was a tool like this to help me manage my spending. I want to help others!<br>
            <cite>-Julianna Rusak</cite></p>
      </div>
      <div class="large-6 columns">
        <img src="http://placehold.it/400x300&text=[img]"/>
          <p>Growing up, I was always told to save my money but was never knew how. It wasn't until I got my first job in Marketing at an online brokerage company that I painfully learned how investing money worked. I think personal finance is a crucial topic missing from our current school system and hope that this tool can be a friendly first step towards financial literacy.<br>
            <cite>-Dian Pan</cite></p>
      </div>
    </div>
</div>

