<div class="row">
    <div class="large-12 columns">
      <div class="box" id="title-box">
        <h3>Here's a look at your expenses.</h3>
      </div>
    </div>
</div>

<div class="row">
  <div class="large-3 columns">
    <div class="card">
      <table class="inline-list right">
        <br>
        <br>
        <thead>
          <tr>
            <th>Expense</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
            <% @expenses.each do |e| %>
          <tr>
            <td><%= e.expense_type.name %></td>
            <td>$<%= e.amount %></td>
          </tr>
            <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="large-9 columns">
    <div class="box" id="chart-box">
      <div id="spending-averages" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
    </div>
  </div>
</div>
