<div class="row">
  <div class="large-4 columns">
    <h4>List of expenses<h4>
      <% @expenses.each do |type, value| %>
        <p><%= type %>: <%= value %>%</p>
      <% end %>
  </div>

  <div class="large-4 columns">
    <h4>Snapshot of your monthly expenses</h4>
      <% @user.expenses.each do |expense| %>
        <p><%= expense.amount %></p>
      <% end %>
  </div>

  <div class="large-4 columns">
    <h4>National Averages</h4>
      <p>30%</p>
      <p>10%</p>
      <p>15%</p>
      <p>5%</p>
      <p>5%</p>
  </div>
</div>