<div class="row">
  <div class="large-3 columns">
    <h4>Your monthly expenses</h4>
      <% @user.expenses.each do |expense| %>
        <p>$<%= expense.amount %></p>
      <% end %>
  </div>

  <div class="large-9 columns">
    <div id="spending-averages" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>
  </div>
</div>
