<div class="row">
  <div class="large-4 columns">
    <h4>List of expenses<h4>
      <% @types.each do |t| %>
        <p>t.name</p>
      <% end %>
  </div>

  <div class="large-4 columns">
    <h4>Snapshot of your monthly expenses</h4>
      <% @expenses.each do |expense| %>
        <p><%= expense %>%</p>
      <% end %>
  </div>

  <div class="large-4 columns">
    <h4>National Averages</h4>
      <p>30%</p>
      <p>10%</p>
      <p>15%</p>
      <p>5%</p>
      <p>5%</p>
  </div>
</div>