#homepage-hero {
    background: url(asset-path('white_pig.jpg'));
    height: 500px;
    padding: 100px 20px 0;
    position: relative;
    text-align: left;

    background-size:   cover;
    background-repeat: no-repeat;
    background-position: center center;
}

#homepage-hero h1 {
    color: #fff;
    font-size: 4rem;
    margin: 0 0 1rem;
    font-weight: 500;
    line-height: 100%;
    margin-bottom: 0;
}

#homepage-hero h3 {
  color:#8d9093;
}

.headshot {
  height: 150px;
  width:150px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


#nav_bar {
  font-size: 4rem;
}