<header class="hero">
  <h1>Be good to your money</h1>
</header>

<footer class="footer">
  <div class="row">
    <div class="small-12 columns">
      <p class="slogan">Made with <3</p>
      <p class="links">
        <a href="#">Home</a>
        <a href="#">About</a>
      </p>
      <p class="copywrite">Copywrite © 2015</p>
    </div>
  </div>
</footer>