<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>Made with <3</p>
      </div>
      <div class="large-6 columns">
      </div>
    </div>
  </div>
</footer>